<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <script src='/js/home.js' defer></script>
    <title>Justin Cervantes Lab 5</title>
</head>
<body>
    <div id="container">

        <form>
            <h3>Artist Directory</h3>
            <input id="topInput" type="text" name="name" >
            <button type="button" id="filterSearchButton" onclick="filterSearch()">Search</button>
            <button type="button" id="addArtistButton" onclick="showAddArtistForm()">Add artist</button>
        </form> 

        <form id="inputForm">
            <input id="addName" placeholder="Artist name" type="text" name="name" maxlength="40">
            <input id="addAbout" placeholder="About artist" type="text" name="name" maxlength="40">
            <input id="addImageURL" placeholder="Image url" type="text" name="name" >
            <button type="button" id="addFieldsButton" onclick="addArtistButton()">Add</button>
        </form>

        <div id="profilesDiv">
            <!-- Kept for testing 
            <div class="profile">
                <img src="https://randomuser.me/api/portraits/med/men/1.jpg">
                <p>
                    <span>Albus Dumbledore</span><br/>
                    Hardcoded. Not in local storage.
                    <button class="deleteButton" onclick="deleteButton(this)">Delete</button>
                </p>
            </div>

            <div class="profile">
                <img src="https://randomuser.me/api/portraits/med/men/88.jpg">
                <p>
                    <span>Finch</span><br/>
                    Hardcoded. Not in local storage.
                    <button class="deleteButton" onclick="deleteButton(this)">Delete</button>
                </p>
            </div>

            <div class="profile">
                <img src="https://randomuser.me/api/portraits/med/men/1.jpg">
                <p>
                    <span>Harry Potter</span><br/>
                    Hardcoded. Not in local storage.
                    <button class="deleteButton" onclick="deleteButton(this)">Delete</button>
                </p>
            </div>
            -->
        </div>
    </div>

</body>
</html>